*.pyc
*.json
*.pickle
.vscode
.idea
.netrc
accounts/*
buttons.txt
bot.session
cookies.txt
categories.txt
config.env
data*
downloads
list_drives.txt
rclone/*
rclone.conf
shorteners.txt
Thumbnails/*
terabox.txt
user.session
Z_Logs.txt
